<p>hello <%= @customer.name %>,</p>
<br />
<p>Mazal Tov on your event!</p>
<br />
<br />
<p>We just wanted to remind you that the following dresses need to be returned by one week from today.</p>
<br />
<br />
<p>Thank you,</p>
<br />
<p>TunzaTulle</p>
