.dress-list-page {
  display: flex;
}

.dress-list-tile {
  text-align: center;
}

.dress-list-tile {
  min-width: 365px;
}

.dress-list-tile .subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
